@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap");

body {
  font-family: "Fira Code", monospace;
}

@media screen and (max-width: 992px) {
  .home_section img {
    width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .home_section img {
    width: 150px;
  }
}
